*{
   margin: 0; 
    padding:0;
    box-sizing: content-box;
    
}
    
   






.navbar{
   display: flex; 
    flex-direction: row;
    justify-content: flex-end;
background-color:orchid;
    
    
}
    

    
a{
  text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;  
    color:white;
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
    text-align: center;

}
    
.sidebar{
display: flex;
flex-direction: row;
   background-color:rebeccapurple;
    color: floralwhite;
    
    
}
© 2022 GitHub, Inc.
Terms
